.right_image{
    animation: slide 5s 1;
    animation-iteration-count: infinite;
}
.left_image{
    animation: slide1 5s 1;
    animation-iteration-count: infinite;
}
@keyframes slide {
    to {
        transform: translateX(-200%);
        opacity: 50%;
    }
  }
@keyframes slide1 {
    to {
        transform: translateX(200%);
        opacity: 50%;
    }
  }