@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");

.SignInBody {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../assets/Building.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
}

.SignInContainer {
  background-image: url('../assets/Building.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 840px;
  max-width: 150vw;
  height: 540px;
  position: relative;
  overflow-x: hidden;
}


.SignInContainer .forms-container {
  position: relative;
  width: 50%;
  text-align: center;
  
}

.forms-container .form-control {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 540px;
}

.forms-container .form-control h2 {
  font-size: 2rem;
}

.forms-container .form-control form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

.form-control form input {
  margin: 10px 0px;
  border: none;
  padding: 15px;
  background-color: rgba(12, 11, 11, 0.5);
}

.form-control form button {
  border: none;
  padding: 20px;
  margin-top: 5px;
  background-color: rgba(255, 251, 251, 0.5);
  border-radius: 5px;
  color: #110f0f;
  cursor: pointer;
}

.form-control form button:focus {
  outline: none;
}

.form-control span {
  margin: 10px 0px;
}


.social {
  margin: 0 5px;
  color: #f6f6f8;
  position: relative;
  align-items: flex-end;
}

.socials1{
  margin: 0 5px;
  color: #f6f6f8;
  position: relative;
  bottom: -120%;
  align-items: flex-end;

}

.socials {
  margin: 0 5px;
  color: #f6f6f8;
  position: relative;
  bottom: -70%;
  align-items: flex-end;
}

.socials .fa-facebook-f {
  padding: 5px 8px;
  background-color: transparent;
  color: #e4e4e9;
}

.socials .fa-google-plus-g {
  padding: 5px 4px;
  background-color: transparent;
  color: #e4e4e9;
}

.socials .fa-apple {
  padding: 5px 6px;
  background-color: transparent;
  color: #e4e4e9;
}

.socials .h4 {
  align-items: flex-end;
}


.form-control.signup-form {
  display: flex;

	justify-content: flex-start;
	align-items: center;
	text-align: center;
  opacity: 0;
  z-index: 1;
  left: 200%;
  background-color: rgba(34, 25, 25, 0.5);
  border-radius: 5px;
  color: #f5f0f0;
  overflow-y: hidden;
}

.form-control.signin-form {
  opacity: 1;
  z-index: 2;
  left: 0%;
  background-color: rgba(34, 25, 25, 0.5);
  border-radius: 5px;
  color: #f5f0f0;
  overflow-y: hidden;
}


.SignInContainer .intros-container {
  position: relative;
  left: 50%;
  width: 50%;
  text-align: center;
}

.intros-container .intro-control {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 480px;
}

.intro-control .intro-control__inner h2 {
  margin: 10px 30px;
  color: #9747FF;
}
.intro-control .intro-control__inner {
  margin: 0px 30px;
  color: #e4e4e9;
  position: relative;
}

.intros-container .intro-control button {
  border: none;
  padding: 15px 30px;
  background-color: rgba(248, 245, 245, 0.5);
  border-radius: 5px;
  color: #0c0b0b;
  margin: 10px 0px;
  cursor: pointer;
}

.intro-control button:focus,
.intro-control button:hover {
  outline: none;
}


.intro-control h3,
.intro-control p {
  margin: 10px 0px;
}

.intro-control h4 {
  display: flex;
  height: 100px;
  width: 10px;
  margin: 10px;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  align-items: flex-end;
}

.intro-control.signin-intro {
  opacity: 1;
  z-index: 2;
  display: flex;
  align-items: end;
}

.intro-control.signup-intro {
  opacity: 0;
  z-index: 1;
}

.change .signup-form {
  opacity: 1;
  z-index: 2;
  transform: translateX(-100%);
}

.change .signup-form button {
  border: none;
  padding: 15px 30px;
  background-color: rgba(248, 245, 245, 0.5);
  border-radius: 5px;
  color: #0a0a0a;
  cursor: pointer;
}

.change .signin-form {
  opacity: 0;
  z-index: 1;
  transform: translateX(-100%);
}

.signin-form .footer {
  position: absolute;
  bottom: 0%;
  width: 100%;
  text-align: center;
  background-color: #0a0a0a; 
  color: #e4e4e9;
  padding: 10px;
  align-items: end;
}

.change .intro-control {
  transform: translateX(-100%);
}

.change .signin-btn {
  background-color: #eaf1ef;
  border-radius: 5px;
  color: #0a0a0a;
  align-items: end;
}

.change .signin-intro {
  opacity: 0;
  z-index: 1;
  height: 80vhj;
  display: flex;
  align-items: end;
}

.change .signup-intro {
  opacity: 1;
  z-index: 2;
  align-items: end;
}

@media screen and (max-width: 480px) {
  .SignInContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .forms-container {
    order: 2;
    width: 100%;
    height: 50vh;
  }

  .form-control {
    position: absolute;
    height: 50vh;
  }

  .signup-form {
    left: 0%;
    margin-top: 70px;
  }

  .intros-container {
    order: 1;
    width: 100%;
    left: 0%;
    height: 40vh;
  }

  .intro-control {
    position: absolute;
    height: 40vh;
  }

  .change .signup-form {
    transform: translateX(0%);
  }

  .change .signin-form {
    transform: translateX(0%);
  }

  .change .intro-control {
    transform: translateX(0%);
  }

}
