
body {
  background: #FDFFFF;
  height: 100vh;
}

.container {
  width: 100%;
}

.text-container {
  width: 520px;
  font-size: 40px;
  height: 50px;
}

.dynamic-text,
.static-text {
  display: inline-block;
}

.static-text{
  margin-right: 10px;
}

.dynamic-text{
  list-style: none;
  position: absolute;
  overflow: hidden;
  height: 50px;
}

.item {
  position: relative;
  top: -30%;
  animation: move 2s infinite 5s;
}

@keyframes move {
  0% {
    top: 0px; 
  }
  20% {
    top: -50px;
  }
  50% {
    top: -96px;
  }
  80% {
    top: -196px;
  }
  60% {
    top: -206px;
  }
}