
.dynamic-text,
.static-text {
  display: inline-block;
}

.static-text{
  margin-right: 10px;
}

.dynamic-text{
  list-style: none;
  position: absolute;
  overflow: hidden;
  height: 50px;
}

.item {
  position: relative;
  top: -40%;
  animation: move 10s infinite 2s;
}

@keyframes move {
  0% {
    top: 0px; 
  }
  20% {
    top: -50px;
  }
  40% {
    top: -96px;
  }
  80% {
    top: -196px;
  }
  60% {
    top: -146px;
  }
}