@import url('https://www.gstatic.com/charts/loader.js');
@import url('https://rawgit.com/louisremi/jquery-smartresize/master/jquery.throttledresize.js');
@import url('https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js');

.col {
    width:30%;
    margin:10% auto;
}
.ne-nutrition-distribution {
    border:1px solid gray;
    position: relative;
    padding-bottom: 80%;
    height: 0;
    overflow:hidden;
}
.ne-nutrition-distribution__chart {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
}