.categoryMain{
    background-image: linear-gradient(to bottom, rgba(239, 239, 239, 0), #d8c5d9), url('../../assets/Building.jpg');
    height: 100vh;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;  
    position: relative;
}

.aboutMain{
    background-image: linear-gradient(to bottom, rgba(51, 51, 51, 0), #bebebe87), url('../../assets/Building.jpg');
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;  
    height: 80vh;
    position: relative;
}
.AboutCard {
    background-image: url('../../assets/Building_blur-md.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    position: relative; /* Allows overlay element to be positioned within */
  }
  